@font-face {
    font-family: "Neue Montreal";
    src: url("./constants/fonts/NeueMontreal-Regular.woff") format("woff");
}
@font-face {
    font-family: "Neue Montreal Bold";
    src: url("./constants/fonts/NeueMontreal-Bold.woff") format("woff");
}

$Neue: "Neue Montreal";
$NeueBold: "Neue Montreal Bold";
:root {
    font-size: 20px;
}
body {
    margin: 0;
    font-family: $Neue;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
